<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<style>
    body {
        background: #7c72a0;
    }
    h1 {
        text-align : center;
        color : white;
    }
    h2 {
        text-align : center;
        color : white;
    }
    a button {
        width: 200px;
        border-radius: 20px;
        border: none;
        background: #a57fa5;
        cursor: pointer;
    }

</style>
<body>

<h1>의엽이 게시판</h1>
<div style="text-align : center">
    <a href="board/list">
        <button>
            <h2>게시글 목록 보기</h2>
        </button>
    </a>
</div>
</body>
</html>